
/* Style the div */
#div0 {  
    background-color: #b9936c;
    padding: 30px 50px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
#div0:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
#input0 {
    box-sizing: border-box;
    border: none;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the button */
#button0 {
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#button0:hover {
    background-color: #bbb;
}

/* Style the table */
#table0 {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#table0 {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
}

#table0 th, #table0 td  {
    border: 1px solid #ddd;
    padding: 10px;
}

#table0 th {
    background-color: #c4b7a6;
}

#table0 tr:nth-child(even){background-color: #f2f2f2;}

#table0 tr:hover {background-color: #ddd;}
