<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
        <title>Login Sensores</title>
    </head>
    <body style="background-color: #eee">
        <div id="navbarId"></div>
        <div class="container">
            <div class="col-md-6 offset-md-3 my-5">				
                <h2 class="text-center my-4">Introduzca sus credenciales</h2>
                <div th:if="${loginError}" class="alert alert-danger text-center" role="alert">¡Credenciales incorrectas!</div>
                <div th:if="${userNotActive}" class="alert alert-danger text-center" role="alert">Usuario no activado. 
                    Por favor utiliza el link de activación que se ha enviado a tu correo. Si el link a expirado o no lo encuentra genera una nueva contraseña (click en contraseña olvidada)</div>                
                <form class="form-login" action="/public/login" method="POST">
                    <input type="text" class="form-control mb-1" placeholder="Usuario" th:required="required" th:autofocus="autofocus" name="username"></input>
                    <input type="password" class="form-control" placeholder="Contraseña" th:required="required" name="password"></input>
                    <div class="d-flex justify-content-between">
                        <label class="my-2"><input type="checkbox" name="remember-me"></input> Recordar</label>                    
                        <a class="my-2" href="#" data-toggle="modal" data-target="#regenaratePasswordModal">¿Contraseña olvidada?</a>
                    </div>
                    <button class="btn btn-lg btn-info btn-block my-2" type="submit">Entrar</button>
                </form>
                <div class="container">
                    <div class="d-flex justify-content-center mt-4">¿No tiene cuenta?</div>
                    <div class="row">
                        <div class="col-sm-6 p-1">
                            <form class="form-login" action="login" method="POST">
                                <input name="username" value="user" type="hidden"></input>
                                <input name="password" value="user" type="hidden"></input>
                                <button type="submit" class="btn btn-info btn-sm btn-block">Acceso como Invitado</button>
                            </form>
                        </div>
                        <div class="col-sm-6 p-1">
                            <a role="button" class="btn btn-info btn-sm btn-block" href="/public/sign_up.html">Registrarse</a>
                        </div>
                    </div>
                </div>               			
            </div>					
        </div>

        <!-- Modal -->
        <div class="modal fade" id="regenaratePasswordModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Regenerar contraseña</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form class="form-login" action="/public/generatepasswordtoken" method="POST">
                        <div class="modal-body">
                            <p class="text-justify">Introduzca su dirección de registro para crear una nueva contraseña. Recibirá un email con un link para regenerarla.</p>
                        </div>
                        <input type="email" class="form-control col-sm-8 offset-sm-2 mb-4" placeholder="Email" th:required="required" th:autofocus="autofocus" name="email"></input>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-info" id="regenerateTokenButtonId">Enviar email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="footerId"></div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/public/js/loadnavbarandfooter.js"></script>
    </body>
</html>
