<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>        
        <title>Cambiar contraseña</title>
    </head>
    <body style="background-color: #eee">
        <div class="col-md-6 offset-md-3 mt-4">
            <div th:if="${error}" class="alert alert-danger text-justify" role="alert">El link para regeneración de contraseña expirado o es incorrecto.</div>                    
            <form th:unless="${error}" class="form-login" action="/public/resetpassword" method="POST">
                <h2 class="text-center pb-2">Cambio de Contraseña</h2>
                <input name="email" th:value="${email}" type="hidden"></input>
                <input name="token" th:value="${token}" type="hidden"></input>
                <div class="form-group">
                    <input name="newPassword" id="passwordId" type="password" class="form-control input-sm" pattern=".{3,}" title="La contraseña debe tener al menos 3 caracteres" placeholder="Contraseña" th:required="required"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-sm" placeholder="Confirmar contraseña" th:required="required" oninput="checkPasswords(this)"></input>
                </div>
                <input type="submit" value="Cambiar Contraseña" class="btn btn-info btn-block mt-3"></input>
                <script language='javascript' type='text/javascript'>
                    function checkPasswords(input) {
                        if (input.value != document.getElementById('passwordId').value) {
                            input.setCustomValidity("Las contraseñas no coinciden");
                        } else {
                            input.setCustomValidity("");
                        }
                    }
                </script>
            </form>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        
    </body>
</html>
